/*
@font-face {
    font-family: "M3-ref";
    src: url("fonts/HhyqU5Ak9u-oMExPeInvcuEmPosC9zS3FYkFU68cPrjdKM1XMoDZlWmzc3IiWvF1SbxVhQidBnv_C-yl9mm4Tw.woff2");
}

p{
    font-family: "M3-ref";
}
*/
body{
    margin: 0;
}
.offcanvas{
    margin-left: 5.5rem !important;
    background-color: #F2ECEE;
    text-align: left;
}
section{
    border: 2px solid red;
}
#mobileNav{
    display: none;
    background-color: #F2ECEE;
}
#desktopNav{
    display: block;
    background-color: #F2ECEE;
    width: 5.5rem;
}
.nav-link{
    color: #4D4256;
    transition-duration: 0.1s;
}
div.label{
    /* width: 4rem; */
    height: 2rem;    
    font-size: 0.70rem;
    transition-duration: 0.1s;
}
.nav-link:hover{
    color: black;
}
div.label:hover{
    color: black;
    border-radius: 1rem;
    background-color: #E5DFE2;
    text-shadow: 0 0 0.05rem #17212b, 0 0 0.15rem black;
    /* text-shadow: 0 0 5px #17212b, 0 0 15px white; */
}
#customStyleLnk{
    border-radius: 1rem;
    background-color: #F1D3F9;
}
#customStyleLnk span:hover{
    color: black;
}
#customStyleLnk-2{
    border-radius: 1rem;
    background-color: #DCDAF5;
}
#M3-icon{
    scale: 50%;
    fill: #4D4256 !important;
}
svg{
    fill: #4D4256;
    scale: 50%;
}



/*QUERIES*/
@media screen and (max-width: 576px){
    #desktopNav{
        display: none;
    }
    #mobileNav{
        display: block;
    }
}