/*
@font-face {
    font-family: "M3-ref";
    src: url("fonts/HhyqU5Ak9u-oMExPeInvcuEmPosC9zS3FYkFU68cPrjdKM1XMoDZlWmzc3IiWvF1SbxVhQidBnv_C-yl9mm4Tw.woff2");
}

p{
    font-family: "M3-ref";
}
*/
:root{
    --light-gray: #909499;
    --light-main-backgound-color: #F2ECEE;
    --border-radius-image: 2rem;
    --fs-1-mobile-resize: 4rem;
    --fs-1-resize: 6rem;    
    --fs-1-restyle: bold;

    --fs-2-resize: 4rem;
    --fs-2-mobile-resize: 2.5rem;
    --fs-4-mobile-resize: 1.5rem;
    --no-border: none;
    --bg-hover-maincolor: #DCDAF5;

    --text-body-tertiary-color-restile: #643f94;
}
body{
    margin: 0;
    font-family: 'Product Sans', sans-serif;
}

h1{
    font-size: var(--fs-1-resize);
}
h2{
    font-size: var(--fs-2-resize);
}

.offcanvas{
    margin-left: 6.25rem !important;
    background-color: #F2ECEE;
    text-align: left;
    border-left: 1px solid #E8E0E8;
}
#stickyElem{
    display: block;
    background-color: var(--light-main-backgound-color);
}
section{
    /* border: 1px solid red; */
}
#mobileNav {
    display: none;
    background-color: #F2ECEE;
}
#mobileNav .offcanvas{
    margin-left: 0 !important;
    width: 85%;
}
#desktopNav{
    display: block;
    background-color: #F2ECEE;
    width: 5.5rem;
}
.nav-link{
    color: #4D4256;
    transition-duration: 0.1s;
}
div.label{
    height: 2rem;    
    font-size: 0.70rem;
    transition-duration: 0.1s;
}
.nav-link:hover{
    color: black;
}
div.label:hover{
    color: black;
    border-radius: 1rem;
    background-color: #E5DFE2;
    text-shadow: 0 0 0.05rem #17212b, 0 0 0.15rem black;
}
#customStyleLnk{
    border-radius: 1rem;
    background-color: #F1D3F9;
}
#customStyleLnk span:hover{
    color: black;
}
#customStyleLnk-2{
    border-radius: 1rem;
    background-color: #DCDAF5;
}
#M3-logo{
    margin: 0 0rem -1.25rem -0.5rem;
    /* scale: 50%; */
    border: none;
}
#M3-logo path{
    fill: #4D4256;
}
svg{
    fill: #4D4256;
    scale: 50%;
}
.btn-primary{
    background-color: #7051D9;
    border: none;
    height: 5rem;
    width: auto;
    font-size: 2rem;
}
video{
    border-radius: var(--border-radius-image);
}
.card-body{
    background-color: var(--light-main-backgound-color);
    border-radius: var(--border-radius-image);
}
.card-body:hover{
    background-color: var(--bg-hover-maincolor);
    cursor: pointer;
}
.card{
    border-radius: var(--border-radius-image);
    border: var(--no-border);
}
img{
    border-radius: var(--border-radius-image);
}

/*QUERIES*/
@media screen and (max-width: 5000px) and (min-width: 577px) {
    #mobileElem{
        display: none !important;
    }
} 
@media screen and (max-width: 576px){
    #desktopNav{
        display: none;
    }
    #mobileNav{
        display: block;
    }
    #stickyElem{
        display: none !important;
    }
    h1 {
        font-size: var(--fs-1-mobile-resize);
    }
    h2 {
        font-size: var(--fs-2-mobile-resize);
    }
    .btn-primary{
        font-size: var(--fs-4-mobile-resize);
    }
    video{
        margin-top: 42rem;
        margin-left: -11.8rem;
        width: 198% !important;
        z-index: 5;
    }

    #mobileLogo{
        border: 2px solid red;
        margin-left: -8rem;
    }
    
}